@import 'fonts';
@import 'null';
@import 'icons';
@import 'typography';

body {
  @include body-p;
  overflow: hidden;
  background: $color-base-dark;
  font-family: 'MPLUS', sans-serif;
  color: $color-white;
}
