@mixin h1-font {
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
}

@mixin h2-font {
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
}

@mixin body-p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

@mixin caption-p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}