$base: #121212;
$base-medium: #1F1F1F;  // Вторичный фон (сообщения собеседника)
$base-light: #A0A0A0; // Вторичный текст (даты, статусы)

$accent: #2E7D32;       // Основной акцент (кнопки, выделение)
$accent-dark: #1B5E20;  // Акцент при наведении/активном состоянии
$accent-light: #4CAF50; // Светлый акцент (иконки, индикаторы)

$complement: #81C784;          // Светло-зелёный (ссылки, ховеры)
$complement-dark: #388E3C;     // Тёмный вариант complement

$white: #ffffff;

$error: #FF5252;
$color-success: #59b100;