$color-base: #18181b;
$color-base-dark: #121212;
$color-base-medium: #29252f;
$color-base-light: #402e58;

$color-accent: #ffa600;

$color-white: #ffffff;
$color-grey: #a0a0a0;

$indent-xs: 4px;
$indent-s: 8px;
$indent-m: 16px;
$indent-l: 20px;
$indent-xl: 40px;
$indent-2xl: 80px;

$border-radius-m: 12px;
