$color-base: #18181B;
$color-base-dark: #121212;
$color-base-medium: #29252F;
$color-base-light: #402E58;

$color-accent: #FFA600;

$color-white: #FFFFFF;
$color-grey: #A0A0A0;

$indent-xs: 4px;
$indent-s: 8px;
$indent-m: 16px;
$indent-l: 20px;
$indent-xl: 40px;

$border-radius-m: 12px;